# Ignore virtual environments
pneumonia_env/
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore datasets and large files
data/
*.ckpt

$ archive/
archive.zip
pneumonia_env

# Ignore dataset folder
archive/

# Ignore large model files
*.h5

# Ignore images
*.jpg
*.jpeg
*.png

# Ignore random text files
New Text Document.txt
$ public

# Ignore conversion script
convert.py

# Ignore public build/artifacts
public/

# Ignore local virtual environment
tf15_env/

# Ignore large files and datasets
archive/
*.keras
*.h5
*.ckpt
